@model IEnumerable<Activities>
 

@{
    ViewData["Title"] = "Your Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Your Information</h3>
    <hr />
    <table class="table table-bordered  table-hover">
        <tr>
            <th>Activity</th>
            <th>Company</th>
            <th>Address</th>
            <th>Price</th>
            <th>Season</th>
            

        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.EventName</td>
                <td>@d.Company</td>
                <td>@d.Address</td>
                <td>@d.Price</td>
                <td>@d.Season</td>
            </tr>
        }
    </table>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ActivityId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ActivityId">Delete</a>*@
</div>
