@model HomeActivityViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div >
    <div class="text-center">
        <h1 class="display-4">Welcome to Milwaukee Activities!</h1>
        <br />
        <p>Here's some things that are going on around you!</p>
        <br />
        <p>If you are a returning user, login to enhance your experience!</p>
        <br />
    </div>


    <input id="pac-input" class="controls" type="text" placeholder="Search For a Place">
    <div id="map"></div>

    <div>
        <h3>Your Information</h3>
        <form asp-action="Index">
            <table>
                <tr>
                    <td>
                        <label asp-for="@Model.MinBudget"></label>
                        <input asp-for="@Model.MinBudget" value ="0" class="form-control"></input>
                    </td>
                    <td>
                        <label asp-for="@Model.MaxBudget"></label>
                        <input asp-for="@Model.MaxBudget" value="200" class="form-control"></input>
                    </td>
                    <td>
                        <label asp-for="@Model.dateStart"></label>
                        <input asp-for="@Model.dateStart" value="@DateTime.Now.ToString("s")" class="form-control"></input>
                    </td>
                    <td>
                        <label asp-for="@Model.dateEnd"></label>
                        <input asp-for="@Model.dateEnd" value="@DateTime.MaxValue.ToString("s")" class="form-control"></input>
                    </td>
                </tr>
                </table>

                    <button type="submit" class="btn btn-primary">Filter</button>
        </form>

        </div>
    <div>
  </div>
            <div class="container" style="        margin-top: 30px
">
                <div class="row">

                    <div class="col-sm-1"></div>
                    <div class="col-md-10">


                        @foreach (var d in Model.Activities)
                        {
                            <div class="card" style="">
                                <div class="activityHeader"><br /></div>
                                <div class="card-body">
                                    <h5 class="card-title">@d.EventName</h5>
                                    <p class="card-text"> @d.Description @d.Company -  At @d.Address Cost: @d.Price Date: @d.Date</p>
                                    <input type="button" value="View" onclick="location.href='@Url.Action("ActivityDetails", "Home", new {id = d.ActivityId})'" />
                                    
                                    <div class="float-right">Reviews - Rating</div>
                                </div>
                            </div>

                            <br>
                        }


                    </div>
                    <div class="col-sm-1"></div>


                </div>
            </div>

     

    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGo1Cx5-3NVQ1v599tNS2j3BVgXZtSNa0&libraries=places&callback=initAutocomplete"
            async defer>
    </script>